
  /*1. body styling*/
  body{
  background-image: url('./images/med.jpg');
  background-size: cover; /* Sets width to 300px, height adjusts automatically */
  background-repeat: no-repeat; 
  background-color: blanchedalmond;
  }
  /*2. heading*/
  h1 {
  color: #841626;
  background-color: rgb(224, 224, 224);
  text-align: center;
  font-weight: bolder;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 60px;

  }
  /*3. block quotes*/
  blockquote {
  font-style: italic;
  color: #333;
  margin: 20px auto;
  padding: 10px 20px;
  border-left: 5px solid #ccc;
  max-width: 600px;
  background-color: rgb(231, 146, 146);
  }
  /*4. anchor tags*/
  a {

  text-decoration: none;
  }
    a {
  color: rgb(44, 43, 46);
  font-size: 15px;
  font-family:monospace;
  line-height: 1.6;
  font-weight: light;
  padding: 10px 15px;
  gap: 25px;
  }
  /*5. navigation bar*/
  nav  a {
  color: rgb(44, 43, 46);
  font-size: 15px;
  font-family:fantasy;
  line-height: 1.6;
  font-weight: light;
  padding: 10px 15px;
  gap: 30px;
  }
  /*6. footer*/

  footer {
  background-color: rgb(224, 224, 224);
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #333;
  }
  footer a {
  color: #841626;
  text-decoration: none;
  margin: 0 10px;
  text-align: end;
  }
  /*7. button*/
  .button {
      padding: 10px 10px;         /* Adds space inside the border */
      text-decoration: none;     /* Removes the underline */
      border-radius: 5px;        /* Optional: softens the corners */
      color: #333;

  }
  .nav-link {
      border: 2px solid rgb(145, 115, 115);
      padding: 5px 10px; /* Gives the text some breathing room inside the box */
      text-decoration: none;
      border-radius: 8px; /* Optional: rounds the corners slightly */
      display: inline-block;
  }
/*8. flex box*/
  .product-grid {
      display: flex;
      flex-wrap: wrap;    
      justify-content:center; 
      gap: 30px;        
  flex-direction: row;
  }

  .product-item {
      text-align: center;
      width: 300px;  
  }